<div id="Footer">
    <div id="Dados">
    	<p>
        ALMERIA<br />
		<br />
        Rua Lorem Ipsum dolor, 383 - Sao Paulo - SP - Brasil<br />
        (11) 8383-8383<br />
        contato@almeria.com.br<br />
        </p>
    </div>
    <div id="Menu">
    	<%=link_to "Principal | ", home_path%> 
        <%=link_to "Institucional | ", institucional_path%>
        <%=link_to "Tratamentos | ", tratamentos_path%>
        <%=link_to "Profissionais | ", profissionais_path%>
        <%=link_to "Depoimentos | ", depoimentos_path%>
        <%=link_to "O Centro | ", centro_path%>
        <%=link_to "Contato", sitecontacts_path%>
    </div>
</div>