<div id="Header">
    	<div id="Logo"><a href="/"><img src="/images/logo.png" /></a></div>
        <div id="Menu">
        	<form id="form" action="/busca" method="get">
        		<div id="Busca"><input type="text" value="Busca" name="s" /></div>
			</form>
            <div id="MenuItens">
            	<ul>
                	<li><%=link_to image_tag("menu/institucional.png"), institucional_path%></li>
                    <li><%=link_to image_tag("menu/tratamentos.png"), tratamentos_path%></li>
                    <li><%=link_to image_tag("menu/profissionais.png"), profissionais_path%></li>
                    <li><%=link_to image_tag("menu/plantao.png"), plantao_path%></li>
                    <li><%=link_to image_tag("menu/ocentro.png"), centro_path%></li>
                    <li><%=link_to image_tag("menu/contato.png"), sitecontacts_path%></li>
                </ul>
            </div>
        </div>
    </div>