<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>Almeria - Clínica para Dependentes Químicos</title>
<%=stylesheet_link_tag "estilo"%>
<%= stylesheet_link_tag "lightbox" %>

<%= stylesheet_link_tag "scroll/scrollable-buttons.css"%>
<%= stylesheet_link_tag "scroll/scrollable-horizontal.css"%>
<%= stylesheet_link_tag "scroll/scrollable-navigator.css"%>

<%= javascript_include_tag "jquery/jquery" %>
<%= javascript_include_tag "jquery/jcycle" %>
<%= javascript_include_tag "jquery/jquery.tools.min.js" %>
<%= javascript_include_tag :defaults %>

<meta name="title" content="Almeria -  CLínica para Dependentes Químicos" />
<meta name="url" content="http://www.clinicaalmeria.com.br" />
<meta name="description" content="" />
<meta name="keywords" content="almeria, dependência química, dependentes químicos, dependente químico, drogas, anti-drogas, clinida de reabilitação, tratamento para drogados, drogado, filho drogado" />
<meta name="autor" content="Rafael Matuoka Chiocchetti" />
<meta name="company" content="Korewa Web" />
<meta name="revisit-after" content="5" />
<link rev="made" href="mailto:rmatuoka@korewa.com.br" />

<script type="text/javascript">
  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-10816424-3']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script>

</head>
<body class="<%=yield :class%>">
<div id="Geral">
	<%=render :file => "/layouts/_header.html.erb"%>
	<%=yield :breadcrumb%>
    <%=yield :destaque%>
	
    <div id="Content">
    	<%=yield%>
		<div class="clear"></div>
    </div>
</div>
<%=render :file => "/layouts/_footer.html.erb"%>
</body>
</html>
